body {
    background-color: orangered;
    color: white;
}

.card {
    background: none;
    border: none;
}

img.img-carr {
    width: 648px;
    height: 344px;
}

.w-100 {
    text-align: center;
}

.btn-rooms {
    margin-bottom: 50px;
}

.margen-footer {
    margin-bottom: 174px;
}

div.btn-group.d-flex {
    width: 10%;
}

.flex-row-reverse {
    margin-right: 10px;
}

section.first-section {
    background:url('https://i.imgur.com/hDajQJY.png');
    background-size:cover;
    box-shadow:inset 0px 7px 16px -10px rgba(0,0,0,0.7);
}

.navbar-brand {
    margin-right: auto;
    margin-left: 10px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.centrado {
    text-align: center;
}

.cardsorange {
    background-color: orangered;
}

select.buscar {
    height: 38px;
}