body {
    background-color: gray;
    color: white;
}

.card {
    background: none;
    border: none;
}

img.img-carr {
    width: 50%;
}

.w-100 {
    text-align: center;
}

.btn-rooms {
    margin-bottom: 50px;
}

.margen-footer {
    margin-bottom: 174px;
}

div.btn-group.d-flex {
    width: 10%;
}

.flex-row-reverse {
    margin-right: 10px;
}

section.first-section {
    background:url('https://i.imgur.com/hDajQJY.png');
    background-size:cover;
}

.navbar-brand {
    margin-right: auto;
    margin-left: 10px;
}

footer {
    width: 100%;
}

.centrado {
    text-align: center;
}